/* Navbar */
.navbar{
	background-color: #2866A1;
}
.navbar-brand{
	background: none;
}
.sidebar .nav-link.active{
	color:#2866A1;
}
.sidebar-nav li a:hover{
  background: #2866A1;
}

/* Table */
.table thead th{
  background: #2866A1;
  color: #fff;
}

.table thead.grey th {
  background: #eee;
  font-size: 12px;
  color: rgb(0, 0, 0);
}

/* Cards */
.card-info .card:hover{
	background: #2866A1;
}

/* Sidebar */
.sidebar .nav-link.active {
  color: #2866A1;
}

/* Rws Table */


/* Plugins - FastSelect */
.fstChoiceItem {
	border: 1px solid #2866A1;
	background-color: #2866A1;
}
.fstResultItem.fstFocused {
	background-color: #2866A1; 
}
.fstResultItem.fstSelected {
	background-color: #225587;
}

/* Buttons */
.btn-custom { 
  color: #ffffff; 
  background-color: #2866A1; 
  border-color: #2866A1; 
} 
 
.btn-custom:hover, 
.btn-custom:focus, 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  color: #ffffff; 
  background-color: #2866A1; 
  border-color: #2866A1; 
} 
 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  background-image: none; 
} 
 
.btn-custom.disabled, 
.btn-custom[disabled], 
fieldset[disabled] .btn-custom, 
.btn-custom.disabled:hover, 
.btn-custom[disabled]:hover, 
fieldset[disabled] .btn-custom:hover, 
.btn-custom.disabled:focus, 
.btn-custom[disabled]:focus, 
fieldset[disabled] .btn-custom:focus, 
.btn-custom.disabled:active, 
.btn-custom[disabled]:active, 
fieldset[disabled] .btn-custom:active, 
.btn-custom.disabled.active, 
.btn-custom[disabled].active, 
fieldset[disabled] .btn-custom.active { 
  background-color: #2866A1; 
  border-color: #2866A1; 
} 
 
.btn-custom .badge { 
  color: #2866A1; 
  background-color: #ffffff; 
}

/* Switch Button*/
input:checked + .slider {
  background-color: #2866A1;
}

/* Radio Button*/
.container input:checked ~ .checkmark {
  background-color: #2866A1;
}